.omikuji-wrapper {
  height: 100%;
}

.omikuji-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.omikuji-box-container {
  width: 230px;
  height: 362px;
  position: relative;
  transition: transform 0.2s linear;
}

.omikuji-mask {
  position: absolute;
  top: 0;
  left: 0;
}

.omikuji-box {
  position: absolute;
  top: 0;
  left: 0;
}

.omikuji-stick {
  position: absolute;
  top: 48px;
  left: 65px;
  transform:translate(0, 0);
}


@keyframes rumble1 {
  0%   { transform:translate(0, 0); }
  25%  { transform:translate(0, 2px) rotate(5deg); }
  50%  { transform:translate(0, 0, 0); }
  75%  { transform:translate(0, -2px) rotate(-5deg); }
  100% { transform:translate(0, 0); }
}
@keyframes rumble2 {
  0%   { transform:translate(0, 0); }
  25%  { transform:translate(0, 2px) rotate(6deg); }
  50%  { transform:translate(0, 0, 0); }
  75%  { transform:translate(0, -2px) rotate(-4deg); }
  100% { transform:translate(0, 0); }
}
@keyframes rumble3 {
  0%   { transform:translate(0, 0); }
  25%  { transform:translate(0, 8px) rotate(8deg); }
  50%  { transform:translate(0, 0, 0); }
  75%  { transform:translate(0, -8px) rotate(-18deg); }
  100% { transform:translate(0, 0); }
}


@keyframes fall {
  0%   { transform:translate(0, 0); }
  25%  { transform:translate(0, 8px); }
  50%  { transform:translate(0, 0); }
  75%  { transform:translate(0, -2px); }
  100% { transform:translate(-55px, 130px); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.is-swing-1 {
  animation:rumble1 0.2s linear;
}
.is-swing-2 {
  animation:rumble2 0.2s linear;
}
.is-swing-3 {
  animation:rumble3 0.2s linear;
}

.omikuji-stick-3 {
  animation:fall 1s forwards;
}

.omikuji-blind {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E9D98B;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
}

.omikuji-blind.is-blind-3 {
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

