.wrapper {
  height: 100svh;
  background-color: #000;
  margin: 0 auto;
  max-width: 700px;
  position: relative;
  background-image: url('/public/top/bg-papter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.obi-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28px;
  background-image: url('/public/top/obi-top.svg');
  background-repeat: repeat-x;
  z-index: 1;
}

.obi-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28px;
  background-image: url('/public/top/obi-bottom.svg');
  background-repeat: repeat-x;
  z-index: 1;
}